DB_PASS=postgres
DB_USER=postgres

# server envs
DATABASE_URL=postgresql://postgres:postgres@database:5432/db_petmatch

BETTER_AUTH_SECRET=MjOrUrgavBQOVKBDav7ujaa2fXsZQiBi
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# web envs
VITE_API_URL=http://localhost:3000