/* resete de estilos padrão do browser */
body, h1, h2, 
h3, ul, li, p, button, a{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

/* padrão de link: inline-block p/ obedecer valores de margin*/
a{
    display: inline-block; 
    text-decoration: none;
}

/* padrão para img não estourar container */
img{
    display: block;
    max-width: 100%;
}